version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: ctf_postgres
    environment:
      POSTGRES_USER: clinical_user
      POSTGRES_PASSWORD: clinical_pass
      POSTGRES_DB: clinical_trials
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  opensearch:
    image: opensearchproject/opensearch:2.15.0
    container_name: ctf_opensearch
    environment:
      discovery.type: single-node
      OPENSEARCH_JAVA_OPTS: "-Xms512m -Xmx512m"
      DISABLE_SECURITY_PLUGIN: "true"
    ports:
      - "9200:9200"
  pgadmin:
    image: dpage/pgadmin4
    container_name: ctf_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres

volumes:
  pgdata:
