services:
  postgres:
    image: postgres:16
    container_name: ctf_postgres
    environment:
      POSTGRES_USER: clinical_user
      POSTGRES_PASSWORD: clinical_pass
      POSTGRES_DB: clinical_trials
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  opensearch:
    image: opensearchproject/opensearch:2.15.0
    container_name: ctf_opensearch
    environment:
      - discovery.type=single-node
      - DISABLE_SECURITY_PLUGIN=true
      - OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"
    volumes:
      - opensearch_data:/usr/share/opensearch/data # <- persist OpenSearch data

  backend:
    platform: linux/amd64
    build: .
    container_name: ctf_backend
    depends_on:
      - postgres
      - opensearch
    environment:
      # Override .env for inside-container networking
      POSTGRES_DSN: postgresql://clinical_user:clinical_pass@postgres:5432/clinical_trials
      OPENSEARCH_HOST: http://opensearch:9200
      TRIALS_INDEX_NAME: trials_v1
      PYTHONUNBUFFERED: "1"
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data # <- persist FAISS index (trials_faiss.*)
      - scispacy_cache:/root/.scispacy # <- persist NLP models
      - ./backend:/app/backend # <- HOT RELOAD: Mount source code so we don't need to rebuild

  frontend:
    build: ./frontend
    container_name: ctf_frontend
    depends_on:
      - backend
    ports:
      - "8501:8501"
    environment:
      - API_BASE_URL=http://backend:8000

  pgadmin:
    image: dpage/pgadmin4
    container_name: ctf_pgadmin
    depends_on:
      - postgres
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"

volumes:
  pgdata:
  opensearch_data:
  scispacy_cache:
